{% extends "layout.html" %}
{% block content %}

<script type=text/javascript src="{{url_for('static', filename='js/form.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/button_appear.js') }}"></script>

<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;text-align:center;"></div>

<div class=container id=main_content>
  <div id=calendar_content>
    <div class="card">
      <div class="card-body">
        <h2 style="text-align:center;">{{month_name}}</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" style="width: 14%">Sunday</th>
              <th scope="col" style="width: 14%">Monday</th>
              <th scope="col" style="width: 14%">Tuesday</th>
              <th scope="col" style="width: 14%">Wednesday</th>
              <th scope="col" style="width: 14%">Thursday</th>
              <th scope="col" style="width: 14%">Friday</th>
              <th scope="col" style="width: 14%">Saturday</th>
            </tr>
          </thead>
          <tbody>
            {% for week in days %}
            <tr>
              {% for day in week %}
              {% if day == 0 %}
              <td> </td>
              {% else %}
              <td align="right">
                <button class="btn btn-primary" id="{{day}}" data-toggle="collapse" href="#collapseEvents{{day}}, #form{{day}}" data-parent="#calendar_content" role="button" aria-expanded="false" aria-controls="collapseEvents">
                  {{ day }}
                </button>
              </td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class=row>
      <div class=col>
        {% for i in range(31) %}
        <div class="collapse" id="collapseEvents{{i}}" data-parent="#calendar_content">
          <div class="card card-body">
            <h2> Events </h2>
            <p id="event_title_display"></p>
            <p id="start_time_display"></p>
            <p id="end_time_display"></p>
            <p id="event_desc_display"></p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class=col>
        {% for i in range(31) %}
        <div class="collapse" id="form{{i}}" data-parent="#calendar_content">
          <div class="card card-body">
            <form id={{i}}>
              <div class="form-group">
                <label for="event_title">Event Title</label>
                <input type="event_title" class="form-control" id="event_title" placeholder="Title Here">
              </div>

              <div class="form-group">
                <label for="start_time">Example select</label>
                <select class="form-control" id="start_time">
                  <option>12:00 am</option>
                  <option>12:15 am</option>
                  <option>12:30 am</option>
                  <option>12:45 am</option>
                  <option>1:00 am</option>
                  <option>1:15 am</option>
                  <option>1:30 am</option>
                  <option>1:45 am</option>
                  <option>2:00 am</option>
                  <option>2:15 am</option>
                  <option>2:30 am</option>
                  <option>2:45 am</option>
                  <option>3:00 am</option>
                  <option>3:15 am</option>
                  <option>3:30 am</option>
                  <option>3:45 am</option>
                  <option>4:00 am</option>
                  <option>4:15 am</option>
                  <option>4:30 am</option>
                  <option>4:45 am</option>
                  <option>5:00 am</option>
                  <option>5:15 am</option>
                  <option>5:30 am</option>
                  <option>5:45 am</option>
                  <option>6:00 am</option>
                  <option>6:15 am</option>
                  <option>6:30 am</option>
                  <option>6:45 am</option>
                  <option>7:00 am</option>
                  <option>7:15 am</option>
                  <option>7:30 am</option>
                  <option>7:45 am</option>
                  <option>8:00 am</option>
                  <option>8:15 am</option>
                  <option>8:30 am</option>
                  <option>8:45 am</option>
                  <option>9:00 am</option>
                  <option>9:15 am</option>
                  <option>9:30 am</option>
                  <option>9:45 am</option>
                  <option>10:00 am</option>
                  <option>10:15 am</option>
                  <option>10:30 am</option>
                  <option>10:45 am</option>
                  <option>11:00 am</option>
                  <option>11:15 am</option>
                  <option>11:30 am</option>
                  <option>11:45 am</option>
                  <option>12:00 pm</option>
                  <option>12:15 pm</option>
                  <option>12:30 pm</option>
                  <option>12:45 pm</option>
                  <option>1:00 pm</option>
                  <option>1:15 pm</option>
                  <option>1:30 pm</option>
                  <option>1:45 pm</option>
                  <option>2:00 pm</option>
                  <option>2:15 pm</option>
                  <option>2:30 pm</option>
                  <option>2:45 pm</option>
                  <option>3:00 pm</option>
                  <option>3:15 pm</option>
                  <option>3:30 pm</option>
                  <option>3:45 pm</option>
                  <option>4:00 pm</option>
                  <option>4:15 pm</option>
                  <option>4:30 pm</option>
                  <option>4:45 pm</option>
                  <option>5:00 pm</option>
                  <option>5:15 pm</option>
                  <option>5:30 pm</option>
                  <option>5:45 pm</option>
                  <option>6:00 pm</option>
                  <option>6:15 pm</option>
                  <option>6:30 pm</option>
                  <option>6:45 pm</option>
                  <option>7:00 pm</option>
                  <option>7:15 pm</option>
                  <option>7:30 pm</option>
                  <option>7:45 pm</option>
                  <option>8:00 pm</option>
                  <option>8:15 pm</option>
                  <option>8:30 pm</option>
                  <option>8:45 pm</option>
                  <option>9:00 pm</option>
                  <option>9:15 pm</option>
                  <option>9:30 pm</option>
                  <option>9:45 pm</option>
                  <option>10:00 pm</option>
                  <option>10:15 pm</option>
                  <option>10:30 pm</option>
                  <option>10:45 pm</option>
                  <option>11:00 pm</option>
                  <option>11:15 pm</option>
                  <option>11:30 pm</option>
                  <option>11:45 pm</option>
                </select>
              </div>

              <div class="form-group">
                <label for="end_time">Example select</label>
                <select class="form-control" id="end_time">
                  <option>12:00 am</option>
                  <option>12:15 am</option>
                  <option>12:30 am</option>
                  <option>12:45 am</option>
                  <option>1:00 am</option>
                  <option>1:15 am</option>
                  <option>1:30 am</option>
                  <option>1:45 am</option>
                  <option>2:00 am</option>
                  <option>2:15 am</option>
                  <option>2:30 am</option>
                  <option>2:45 am</option>
                  <option>3:00 am</option>
                  <option>3:15 am</option>
                  <option>3:30 am</option>
                  <option>3:45 am</option>
                  <option>4:00 am</option>
                  <option>4:15 am</option>
                  <option>4:30 am</option>
                  <option>4:45 am</option>
                  <option>5:00 am</option>
                  <option>5:15 am</option>
                  <option>5:30 am</option>
                  <option>5:45 am</option>
                  <option>6:00 am</option>
                  <option>6:15 am</option>
                  <option>6:30 am</option>
                  <option>6:45 am</option>
                  <option>7:00 am</option>
                  <option>7:15 am</option>
                  <option>7:30 am</option>
                  <option>7:45 am</option>
                  <option>8:00 am</option>
                  <option>8:15 am</option>
                  <option>8:30 am</option>
                  <option>8:45 am</option>
                  <option>9:00 am</option>
                  <option>9:15 am</option>
                  <option>9:30 am</option>
                  <option>9:45 am</option>
                  <option>10:00 am</option>
                  <option>10:15 am</option>
                  <option>10:30 am</option>
                  <option>10:45 am</option>
                  <option>11:00 am</option>
                  <option>11:15 am</option>
                  <option>11:30 am</option>
                  <option>11:45 am</option>
                  <option>12:00 pm</option>
                  <option>12:15 pm</option>
                  <option>12:30 pm</option>
                  <option>12:45 pm</option>
                  <option>1:00 pm</option>
                  <option>1:15 pm</option>
                  <option>1:30 pm</option>
                  <option>1:45 pm</option>
                  <option>2:00 pm</option>
                  <option>2:15 pm</option>
                  <option>2:30 pm</option>
                  <option>2:45 pm</option>
                  <option>3:00 pm</option>
                  <option>3:15 pm</option>
                  <option>3:30 pm</option>
                  <option>3:45 pm</option>
                  <option>4:00 pm</option>
                  <option>4:15 pm</option>
                  <option>4:30 pm</option>
                  <option>4:45 pm</option>
                  <option>5:00 pm</option>
                  <option>5:15 pm</option>
                  <option>5:30 pm</option>
                  <option>5:45 pm</option>
                  <option>6:00 pm</option>
                  <option>6:15 pm</option>
                  <option>6:30 pm</option>
                  <option>6:45 pm</option>
                  <option>7:00 pm</option>
                  <option>7:15 pm</option>
                  <option>7:30 pm</option>
                  <option>7:45 pm</option>
                  <option>8:00 pm</option>
                  <option>8:15 pm</option>
                  <option>8:30 pm</option>
                  <option>8:45 pm</option>
                  <option>9:00 pm</option>
                  <option>9:15 pm</option>
                  <option>9:30 pm</option>
                  <option>9:45 pm</option>
                  <option>10:00 pm</option>
                  <option>10:15 pm</option>
                  <option>10:30 pm</option>
                  <option>10:45 pm</option>
                  <option>11:00 pm</option>
                  <option>11:15 pm</option>
                  <option>11:30 pm</option>
                  <option>11:45 pm</option>
                </select>
              </div>


              <div class="form-group">
                <label for="event_description">Event Description</label>
                <textarea class="form-control" id="event_description" rows="3"></textarea>
              </div>

              <input type="hidden" id="event_date" value="{{i}}">
              <input type="hidden" id="event_month" value="{{month_name}}">

              <button type="submit" class="btn btn-primary">submit</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
